<!DOCTYPE html>
<html>
  <head>
    <title>Splendid Food</title>
    <link rel="stylesheet" href="styles/style.min.css">
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/ico">
    <script src="../public/vue.global.js"></script>
  </head>
  <body>

    <div id="app">

      <header class="top-bar spread">
        <nav class="top-bar-nav">
          <a href="#" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </a>
          <a href="views/products.html" class="top-bar-link">
            <span>Products</span>
          </a>
          <a href="views/past-orders.html" class="top-bar-link">
            <span>Past Orders</span>
          </a>
        </nav>
        <a href="#" class="top-bar-cart-link" @click="toggle_sidebar">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart ({{ Object.keys(cart).length }})</span>
        </a>
      </header>

      <div class="splash-container">
        <div class="splash">
          <h1>Splendid Food</h1>
        </div>
      </div>

      <main class="wrapper">

        <h2>Recommended</h2>

        <div class="recommended">

          <div class="card" v-if="inventory"  v-for="product in inventory.slice(5, 8)">
            <div class="card-title">
              {{product.name}}
            </div>
            <div class="card-body">
              <i class="icofont-10x icofont-{{product.icon}}"></i>
              <form>
                <div class="row">
                  <div class="cell">
                    <label>Type:</label>
                  </div>
                  <div class="cell">
                    <em>{{product.type}}</em>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Price:</label>
                  </div>
                  <div class="cell">
                    ${{product.price.USD}}
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <label>Quantity:</label>
                  </div>
                  <div class="cell">
                    <input type="number" v-model="product.quantity">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button class="btn btn-light" @click="add_to_cart(product.name, product.quantity)"> Add to cart </button>
            </div>
          </div>

        </div>

      </main>

      <sidebar  v-if="sidebar" :toggle="toggle_sidebar" :cart="cart" :inventory="inventory"/>

      <footer>
      </footer>

    </div>

    <script>
      let app = Vue.createApp({
        data() {
          return {
            inventory: null,
            cart: {},
            sidebar: false,
          }
        },
        methods: {
          add_to_cart(name, quantity) {
            if (!this.cart[name]) this.cart[name] = 0
            if (quantity)
              this.cart[name] += quantity
          },
          toggle_sidebar() {
            this.sidebar = !this.sidebar;
          }
        },
        async mounted() {
          const resp = await fetch("./food.json")
          let inv = await resp.json()
          this.inventory = inv
        }
      })

      app.component('sidebar', {
        computed: {
          cartTotal() {
            return this.cart.Carrots * 4.82
          }
        },
        methods: {
          getPrice(name) {
            const product = this.inventory.find((p)=> {
              return p.name === name
            })
            return product.price.USD
          },
          calculateTotal() {
            const keys = Object.keys(this.cart)
            var sum = 0
            for (let i=0;i<keys.length;i++) {
              let item = keys[i]
              let quantity = this.cart[item]
              let totalPrice = this.getPrice(item) * quantity
              sum += totalPrice
            }
            return sum
          }
        },
        template: `<aside class="cart-container">
        <div class="cart">
          <h1 class="cart-title spread">
            <span>
              Cart
              <i class="icofont-cart-alt icofont-1x"></i>
            </span>
            <button class="cart-close" @click="toggle">x</button>
          </h1>

          <div class="cart-body">
            <table class="cart-table">
              <thead>
                <tr>
                  <th><span class="sr-only">Product Image</span></th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                  <th><span class="sr-only">Actions</span></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(quantity, key, i) in cart">
        <td><i class="icofont-{{key.toLowerCase()}} icofont-3x"></i></td>
                  <td>{{key}}</td>
                  <td>\$ {{getPrice(key)}}</td>
                  <td class="center">{{quantity}}</td>
                  <td>\$ {{quantity * getPrice(key)}}</td>
                  <td class="center">
                    <button class="btn btn-light cart-remove">
                      x
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <p class="center" v-if="!Object.keys(cart).length"><em>No items in cart</em></p>
            <div class="spread">
              <span><strong>Total:</strong>\$ {{ calculateTotal().toFixed(2) }}</span>
              <button class="btn btn-light">Checkout</button>
            </div>
          </div>
        </div>
      </aside>`,
        props: ["toggle", "cart", "inventory"],
      })
      app.mount("#app")
    </script>
  </body>
</html>
